In [15]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

In [16]:
# Load in the general 2018 dataset.
survey_2018 = pd.read_csv("survey_results_public_2018.csv", dtype=str)

In [17]:
print(survey_2018.head())

  Respondent Hobby OpenSource         Country         Student  \
0          1   Yes         No           Kenya              No
1          3   Yes        Yes  United Kingdom              No
2          4   Yes        Yes   United States              No
3          5    No         No   United States              No
4          7   Yes         No    South Africa  Yes, part-time

           Employment                                    FormalEducation  \
0  Employed part-time           Bachelor’s degree (BA, BS, B.Eng., etc.)
1  Employed full-time           Bachelor’s degree (BA, BS, B.Eng., etc.)
2  Employed full-time                                   Associate degree
3  Employed full-time           Bachelor’s degree (BA, BS, B.Eng., etc.)
4  Employed full-time  Some college/university study without earning ...

                                      UndergradMajor  \
0                          Mathematics or statistics
1  A natural science (ex. biology, chemistry, phy...
2  Computer science, computer engineering, or sof...
3  Computer science, computer engineering, or sof...
4  Computer science, computer engineering, or sof...

                CompanySize  \
0        20 to 99 employees
1  10,000 or more employees
2        20 to 99 employees
3      100 to 499 employees
4  10,000 or more employees

                                             DevType      ...        \
0                               Full-stack developer      ...
1  Database administrator;DevOps specialist;Full-...      ...
2           Engineering manager;Full-stack developer      ...
3                               Full-stack developer      ...
4  Data or business analyst;Desktop or enterprise...      ...

                     Exercise Gender         SexualOrientation  \
0        3 - 4 times per week   Male  Straight or heterosexual
1   Daily or almost every day   Male  Straight or heterosexual
2                         NaN    NaN                       NaN
3  I don't typically exercise   Male  Straight or heterosexual
4        3 - 4 times per week   Male  Straight or heterosexual

                                    EducationParents  \
0           Bachelor’s degree (BA, BS, B.Eng., etc.)
1           Bachelor’s degree (BA, BS, B.Eng., etc.)
2                                                NaN
3  Some college/university study without earning ...
4  Some college/university study without earning ...

                  RaceEthnicity                Age Dependents MilitaryUS  \
0   Black or of African descent  25 - 34 years old        Yes        NaN
1  White or of European descent  35 - 44 years old        Yes        NaN
2                           NaN                NaN        NaN        NaN
3  White or of European descent  35 - 44 years old         No         No
4  White or of European descent  18 - 24 years old        Yes        NaN

                          SurveyTooLong     SurveyEasy
0  The survey was an appropriate length      Very easy
1  The survey was an appropriate length  Somewhat easy
2                                   NaN            NaN
3  The survey was an appropriate length  Somewhat easy
4  The survey was an appropriate length  Somewhat easy

[5 rows x 129 columns]

In [4]:
print(survey_2018.shape)
survey_2018.describe()

(98855, 129)

,Respondent,AssessJob1,AssessJob2,AssessJob3,AssessJob4,AssessJob5,AssessJob6,AssessJob7,AssessJob8,AssessJob9,...,JobEmailPriorities6,JobEmailPriorities7,ConvertedSalary,AdsPriorities1,AdsPriorities2,AdsPriorities3,AdsPriorities4,AdsPriorities5,AdsPriorities6,AdsPriorities7
count,98855.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,...,46213.00000,46213.000000,4.770200e+04,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000
mean,50822.971635,6.397089,6.673524,5.906875,4.065791,3.953243,4.407196,5.673181,4.225200,7.640009,...,4.97425,4.836388,9.578086e+04,2.726880,3.805784,3.340945,3.782470,4.383604,5.138809,4.821459
std,29321.650410,2.788428,2.531202,2.642734,2.541196,2.520499,2.502069,2.923998,2.507411,2.407457,...,1.86063,1.659844,2.023482e+05,1.881078,1.821323,1.673485,1.844864,1.931746,1.853249,1.874895
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,0.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,25443.500000,4.000000,5.000000,4.000000,2.000000,2.000000,2.000000,3.000000,2.000000,6.000000,...,4.00000,4.000000,2.384400e+04,1.000000,2.000000,2.000000,2.000000,3.000000,4.000000,3.000000
50%,50823.000000,7.000000,7.000000,6.000000,4.000000,3.000000,4.000000,6.000000,4.000000,8.000000,...,5.00000,5.000000,5.507500e+04,2.000000,4.000000,3.000000,4.000000,5.000000,6.000000,5.000000
75%,76219.500000,9.000000,9.000000,8.000000,6.000000,6.000000,6.000000,8.000000,6.000000,10.000000,...,7.00000,6.000000,9.300000e+04,4.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000
max,101592.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,7.00000,7.000000,2.000000e+06,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000